<app-search
  (citySelected)="onCitySelected($event)"
  [selectedCity]="selectedCity"
  [searchTerm]="searchTerm"
></app-search>
<app-tags (foodTypesSelected)="onFoodTypesSelected($event)"></app-tags>

<!-- Places list -->
<div class="places-list" *ngIf="selectedCity || selectedFoodTypes.length > 0">
  <h2>Znalezione propozycje</h2>

  <!-- Sorting -->
  <div
    *ngIf="selectedCity || selectedFoodTypes.length > 0"
    class="sorting-container"
  >
    <img src="../../../../assets/icons/sort.png" alt="sort-icon" />

    <label class="custom-radio">
      Najwyższa ocena
      <input
        type="radio"
        id="bestRating"
        name="sortingOption"
        value="bestRating"
        [(ngModel)]="sortingOption"
        (ngModelChange)="onSortingOptionChange()"
      />
      <div class="radio_indicator"></div>
    </label>
    <label class="custom-radio">
      Najniższa ocena
      <input
        type="radio"
        id="worstRating"
        name="sortingOption"
        value="worstRating"
        [(ngModel)]="sortingOption"
        (ngModelChange)="onSortingOptionChange()"
      />
      <div class="radio_indicator"></div>
    </label>
  </div>

  <!-- List -->

  <ul>
    <li *ngFor="let place of placesList">
      <a
        [href]="
          'https://www.google.com/search?q=' + place.city + ' ' + place.name
        "
        target="_blank"
      >
        <div class="place-image">
          <img [src]="place.imageUrl" />
        </div>
        <div class="content">
          <h3>{{ place.name }}</h3>
          <div class="rating">
            <img src="../../../../assets/icons/star.png" alt="star-icon" />
            <p>{{ place.reviews }}/5 ({{ place.review_num }})</p>
          </div>
          <div class="address">
            <img src="../../../../assets/icons/pin.png" alt="pin-icon" />
            <p>{{ place.city }}, {{ place.address }}</p>
          </div>
          <span class="tag">{{ place.food_type }}</span>
        </div>
        <button>Zobacz w Google</button>
      </a>
    </li>
  </ul>
</div>

<!-- Default home view -->

<div
  *ngIf="!selectedCity && selectedFoodTypes.length === 0"
  class="popular-cities"
>
  <h2>Najpopularniejsze miasta w Polsce</h2>
  <ul>
    <li
      *ngFor="let city of popularCities"
      (click)="onSelectPopularCity(city.name)"
    >
      <div
        class="content background-image"
        [style.background-image]="'url(' + city.imageUrl + ')'"
      >
        <h3>{{ city.name }}</h3>
        <p>{{ city.desc }}</p>
      </div>
    </li>
  </ul>
</div>

<app-footer></app-footer>
