.search-container {
  display: flex;
  justify-content: center;
  margin: 2.5rem auto;
  flex-direction: column;
  padding: 0 1.5rem;
  position: relative;
  max-width: 60rem;
}
input {
  border-radius: 5rem;
  border: 2px solid var(--dark);
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.25);
  padding: 1.2rem 1.2rem 1.2rem 4.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  z-index: 2;
}
input::placeholder {
  color: rgba(59, 59, 59, 0.6);
}
input:focus,
input:hover,
input:not(:placeholder-shown) {
  background-color: var(--darkWhite);
}
.loupe-icon {
  position: absolute;
  left: 3.5rem;
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(0%)
    hue-rotate(220deg) brightness(91%) contrast(81%);
  opacity: 0.6;
  user-select: none;
  z-index: 3;
}

.loupe-icon.focused {
  opacity: 1 !important;
}

.close-icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 3.5rem;
  filter: brightness(0) saturate(100%) invert(59%) sepia(60%) saturate(3566%)
    hue-rotate(322deg) brightness(94%) contrast(93%);
  cursor: pointer;
  transition: scale ease 0.2s;
  z-index: 3;
}

.close-icon:hover {
  scale: 1.1;
}

ul {
  position: absolute;
  top: 1.5rem;
  z-index: 1;
  left: 1.5rem;
  right: 1.5rem;
  background-color: var(--white);
  border: 2px solid var(--dark);
  list-style: none;
  padding: 0;
  max-height: 21rem;
  overflow-y: auto;
  border-radius: 1rem 1rem 2rem 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
ul li:first-child {
  padding-top: 3.25rem;
}
ul li:last-child {
  border: none;
}
ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--dark);
  background-color: var(--white);
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
  padding: 1rem;
  letter-spacing: 0.25rem;
  transition: background-color 0.3s ease;
}

ul li img {
  margin-left: 2rem;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(71%) sepia(5%) saturate(1204%)
    hue-rotate(127deg) brightness(93%) contrast(89%);
  transition: filter 0.3s ease;
}
ul li:hover img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(10%) saturate(7192%)
    hue-rotate(315deg) brightness(85%) contrast(74%);
}
ul li:hover {
  background: linear-gradient(
    90deg,
    transparent 60%,
    rgba(176, 71, 89, 0.8) 100%
  );
}
