<div class="search-container">
  <img
    class="loupe-icon"
    src="../../../../assets/icons/loupe.png"
    alt="search"
    draggable="false"
    [ngClass]="{ focused: isInputFocused }"
  />
  <input
    type="text"
    placeholder="Znajdź swoje miasto"
    [(ngModel)]="searchTerm"
    (input)="showMore()"
    (blur)="hideSuggestions()"
  />
  <img
    class="close-icon"
    (click)="clearInput()"
    *ngIf="searchTerm"
    src="../../../../assets/icons/close.png"
    alt="close"
    draggable="false"
  />
  <ul *ngIf="suggestedCities.length > 0">
    <li
      *ngFor="let suggestion of suggestedCities"
      (click)="onSelectCity(suggestion)"
    >
      <img src="../../../../assets/icons/pin.png" alt="pin" draggable="false" />
      {{ suggestion[0].toUpperCase() + suggestion.slice(1) }}
    </li>
  </ul>
</div>
