.tags-container {
  padding: 0 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.25rem;
}
.tags-container .tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.tags-container .tag button {
  border-radius: 50%;
  width: 5rem;
  max-width: 8rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  box-shadow: 3px 1px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  border: 2px solid var(--dark);
  transition: all 0.2s ease-in-out;
}
.tags-container .tag button img {
  max-width: 100%;
  /* 1rem */
  padding: 0.5rem;
  filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(0%)
    hue-rotate(220deg) brightness(91%) contrast(81%);
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.tags-container .tag p {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.tags-container .tag:hover button {
  border-color: var(--neutral);
}

.tags-container .tag:hover button img {
  filter: brightness(0) saturate(100%) invert(78%) sepia(16%) saturate(396%)
    hue-rotate(127deg) brightness(84%) contrast(82%);
  opacity: 1;
  scale: 1.1;
}

/* Selected styling */
.tags-container .tag button.selected {
  background-color: var(--neutral);
  border-color: var(--neutral);
}

.tags-container .tag button.selected img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(27%) saturate(64%)
    hue-rotate(335deg) brightness(99%) contrast(89%);
  opacity: 1;
}

.tags-container .tag:hover button.selected {
  background-color: #7fa09e;
  border-color: #7fa09e;
}

@media screen and (min-width: 375px) {
  .tags-container .tag button {
    width: 14vw;
  }

  .tags-container .tag p {
    font-size: 1.5rem;
  }
}
